$background: #EDEDED;
$button: #0788A5;
$text: gray;

/*----------------------------
    The file upload form
-----------------------------*/

#upload {
	font-family: 'Arial', sans-serif;
	font-size: 12px;
	
	background-color: $background;
	background-image: linear-gradient(top, $background, lighten($background, 10%));
	
	width:100%;
	padding:30px;
	border-radius:3px;
	
	margin: 1em 0;
	border: 1px solid darken($background, 10%);
	box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.3);
	
	#drop {
		position: relative;
		
		padding: 40px 50px;
		margin-bottom: 30px;
		
		background-color: lighten($background, 1%);
		
		border-radius: 3px;
		border: 1px solid darken($background, 10%);
		box-shadow: 0 1px 0 lighten($background, 5%), 0 1px 0 darken($background, 5%) inset;
		
		text-align: center;
		text-transform: uppercase;
		font-size:16px;
		font-weight:bold;
		color: darken($background, 30%);
		
		a {
			background-color: $button;
			padding:12px 26px;
			color:#fff;
			font-size:14px;
			border-radius: 3px;
			cursor:pointer;
			display:inline-block;
			margin-top:12px;
			line-height:1;
			border: 1px solid darken($button, 5%);
			box-shadow: 0 1px 0 darken($background, 20%), 0 1px 0 lighten($button, 10%) inset;
			
			&:hover, &:focus {
				background-color: lighten($button, 4%);
				box-shadow: 0 1px 0 darken($background, 20%), 0 1px 0 lighten($button, 14%) inset;
			}
			
			&:active {
				position: relative;
				top: 0.5px;
				box-shadow: 0 1px 0 lighten($button, 10%) inset;
			}
		}
		
		input {
			display:none;
		}
	}
	
	ul {
    list-style:none;
    margin:0 -30px;
		padding: 0;
    border-top:1px solid darken($background, 10%);
    border-bottom:1px solid lighten($background, 10%);
		
		li {
			position: relative;
			
			background-color: $background;
			background-image: linear-gradient(top, $background, lighten($background, 10%));
			
			border-top:1px solid lighten($background, 10%);
			border-bottom:1px solid darken($background, 10%);
			padding:15px;
			min-height: 52px;
			
			input {
				display: none;
			}
			
			p {
				position: static;
				margin: 0 50px 0 100px;
				white-space: nowrap;
				color: $text;
				font-size: 14px;
				font-weight: bold;
			}
			
			i {
				font-size: 0.9em;
				font-weight: normal;
				font-style:normal;
				color: lighten($text, 10%);
				display:block;
			}
			
			canvas {
				top: 15px;
				left: 32px;
				position: absolute;
			}
			
			span {
				width: 15px;
				height: 12px;
				background: url('../img/icons.png') no-repeat;
				position: absolute;
				top: 34px;
				right: 33px;
				cursor:pointer;
			}
			
			&.working span {
				height: 16px;
				background-position: 0 -12px;
			}
			
			&.error p {
				color:red;
			}
			
		}
	}
}