$background: #373a3d;
$button: #0788A5;
$text: #828282;

/*----------------------------
    The file upload form
-----------------------------*/

#upload {
	font-family: 'Arial', sans-serif;
	font-size: 12px;
	
	background-color:$background;
	background-image:-webkit-linear-gradient(top, $background, darken($background, 20%));
	background-image:-moz-linear-gradient(top, $background, darken($background, 20%));
	background-image:linear-gradient(top, $background, darken($background, 20%));
	
	width:100%;
	padding:30px;
	border-radius:3px;
	
	margin: 1em auto;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	
	#drop {
		background-color: darken($background, 5%);
		padding: 40px 50px;
		margin-bottom: 30px;
		border: 20px solid darken($text, 15%);
		border-radius: 3px;
		border-image: url('../img/border-image.png') 25 repeat;
		text-align: center;
		text-transform: uppercase;
	
		font-size:16px;
		font-weight:bold;
		color: $text;
		
		a {
			background-color: $button;
			padding:12px 26px;
			color:#fff;
			font-size:14px;
			border-radius:2px;
			cursor:pointer;
			display:inline-block;
			margin-top:12px;
			line-height:1;
			
			&:hover {
				background-color: lighten($button, 8%);
			}
		}
		
		input {
			display:none;
		}
	}
	
	ul {
    list-style:none;
    margin:0 -30px;
		padding: 0;
    border-top:1px solid #2b2e31;
    border-bottom:1px solid lighten($background, 5%);
		
		li {
			position: relative;
			
			background-color:darken($background, 5%);
			/*
			background-image:-webkit-linear-gradient(top, darken($background, 5%), darken($background, 20));
			background-image:-moz-linear-gradient(top, darken($background, 5%), darken($background, 20%));
			background-image:linear-gradient(top, darken($background, 5%), darken($background, 20%));
			*/
			
			border-top:1px solid lighten($background, 5%);
			border-bottom:1px solid darken($background, 40%);
			padding:15px;
			min-height: 52px;
			
			input {
				display: none;
			}
			
			p {
				position: static;
				margin: 0 50px 0 100px;
				white-space: nowrap;
				color: #EEE;
				font-size: 14px;
				font-weight: bold;
			}
			
			i {
				font-weight: normal;
				font-style:normal;
				color:#7f7f7f;
				display:block;
			}
			
			canvas {
				top: 15px;
				left: 32px;
				position: absolute;
			}
			
			span {
				width: 15px;
				height: 12px;
				background: url('../img/icons.png') no-repeat;
				position: absolute;
				top: 34px;
				right: 33px;
				cursor:pointer;
			}
			
			&.working span {
				height: 16px;
				background-position: 0 -12px;
			}
			
			&.error p {
				color:red;
			}
			
		}
	}
}