<?php

$scriptBlock = <<<JS

$(function () {
	
	$('#a, #t').change(function () {
		$('form').submit();
	});
	
});

JS;

$this->Html->scriptBlock($scriptBlock, ['block' => true]);

?>

<div class="ibox">
	<div class="ibox-title">
		<h3>Eblast History</h3>
		<div class="ibox-tools">
			<?= $this->Form->create(null, ['type' => 'get']); ?>

			<?= $this->Form->input('a', [
				'label' => false,
				'options' => [
					'No',
					'Yes'
				]
			]); ?>

			<?= $this->Form->input('t', [
				'label' => false,
				'options' => $emailTypes,
				'empty' => 'All'
			]); ?>

			<?= $this->Form->end(); ?>
		</div>
	</div>
	<div class="ibox-content">
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
				<?php

				$headers = [
					$this->Paginator->sort('Emails.type', 'E-mail Type'),
					$this->Paginator->sort('first_name', 'Sender'),
					$this->Paginator->sort('email', 'Sent To'),
					$this->Paginator->sort('created', 'Date'),
					''
				];

				echo $this->Html->tableHeaders($headers);

				?>
				</thead>
				<tbody>
				<?php

				$rows = [];

				function satitize(&$value, $key)
				{
					$value = addslashes($value);
				}

				foreach ($eblasts as $eblast) {

					$to = [];
					$actions = [];
					$htmlContent = '';
					$hiddenTo = 0;
					$emailObject = '';

					if (@unserialize($eblast->email_object) !== false) {
						$emailObject = unserialize($eblast->email_object);
					}

					$type = \Cake\Utility\Inflector::humanize($eblast->type);
					$user = !empty($eblast->user) ? $eblast->user->fullName : '--';
					$created = !empty($eblast->created) ? $eblast->created->format('M d, Y H:i:s') : '--';

					if (!empty($emailObject)) {

						foreach ($eblast->eblast_recipients as $recipient) {

							if (count($to) < 2){
								$to[] = $recipient;
							} else {
								$hiddenTo++;
							}

						}

						if ($eblast->isInitiative()) {

							preg_match("/[^\/]+$/", $emailObject['viewVars']['buttonLink'], $matches);
							$initiativeId = $matches[0];

							if ($eblast->isPinned($initiativeId)) {
								$actions['unpin'] = $this->Html->link('UNPIN',
									['action' => 'pinEmail', 'controller' => 'Initiatives', $initiativeId, '?' => ['pin' => false, 'date_group' => $eblast->created->toUnixString()]],
									['escape' => false, 'class' => 'btn btn-sm btn-primary m-r-xs', 'confirm' => 'Would you like to unpin this email?']);

							} else {
								$actions['pin'] = $this->Html->link('PIN',
									['action' => 'pinEmail', 'controller' => 'Initiatives', $initiativeId, '?' => ['pin' => true, 'date_group' => $eblast->created->toUnixString()]],
									['escape' => false, 'class' => 'btn btn-sm btn-primary m-r-xs', 'confirm' => 'Would you like to pin this email?']);
							}

						}

						if (isset($emailObject['viewVars']['htmlContent'])) {
							$htmlContent = isset($emailObject['viewVars']['htmlContent']) ? $emailObject['viewVars']['htmlContent'] : '';
							$actions['view'] = $this->Html->link('VIEW',
								['action' => 'view', 'controller' => 'Eblasts', $eblast->id], [
								'escape' => false,
								'class' => 'btn btn-sm btn-primary modal-link'
							]);
						} elseif (!$autoGenerated) {
							continue;
						}

					}



					if (!empty($hiddenTo)) {
						$to[] = '<strong><small>and ' . $hiddenTo . ' more</small></strong>';
					}

					$rows[] = [
						$type,
						$user,
						implode(', ', $to),
						$created,
						[implode('', $actions), ['class' => 'text-right']]
					];

				}

				echo $this->Html->tableCells($rows);

				?>
				</tbody>
			</table>
		</div>
	</div>
</div>
