<p>
	Thank you for reviewing this opportunity to donate and make a difference to <strong><?= $initiative->name ?></strong>. We believe that this cause is extremely worthy and request for you to donate
</p>